[project]
	description = Build a box with Sidekiq, PostgreSQL, memcached, nginx, Ruby and puma (using Ansible)
[access "refs/*"]
	owner = group user/Vitor Capela (dodecaphonic)
[access "refs/for/refs/*"]
	read = group user/Vitor Capela (dodecaphonic)
	push = group user/Vitor Capela (dodecaphonic)
	label-Code-Review = -2..+2 group user/Vitor Capela (dodecaphonic)
	label-Verified = -1..+1 group user/Vitor Capela (dodecaphonic)
	rebase = group user/Vitor Capela (dodecaphonic)
	removeReviewer = group user/Vitor Capela (dodecaphonic)
	submit = group user/Vitor Capela (dodecaphonic)
[access "refs/heads/*"]
	read = group user/Vitor Capela (dodecaphonic)
	create = group user/Vitor Capela (dodecaphonic)
	push = +force group user/Vitor Capela (dodecaphonic)
	pushMerge = group user/Vitor Capela (dodecaphonic)
[access "refs/tags/*"]
	push = +force group user/Vitor Capela (dodecaphonic)
	pushTag = group user/Vitor Capela (dodecaphonic)
	pushSignedTag = group user/Vitor Capela (dodecaphonic)
