upstream {{ app_name }} {
  server unix:///tmp/puma_{{ app_name }}.sock;
}

server {
  gzip on;
  listen 80;

  gzip_types text/plain text/html text/css application/x-javascript text/xml application/xml application/xml+rss text/javascript application/json;                                                                      
  server_name {{ webserver_name }};
  root {{ deploy_directory }}/current/public;

  location / {
    proxy_pass http://{{ app_name }}; # match the name of upstream directive which is defined above
    proxy_set_header Host $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }  

  location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
    expires 1y;
    log_not_found off;
  }
  
  location ~ ^/(assets|images|javascripts|stylesheets|swfs|system)/ {
    gzip_static on;
    expires     max;
    add_header  Cache-Control public;
    add_header  Last-Modified "";
    add_header  ETag "";

    break;
  }  
}
